pretrain/*
!pretrain/download_finetuned.sh
!pretrain/download_pubmedbert.sh

train/output*
train/*.log

predict/output*

__pycache__/
*/__pycache__/
runs/
*/runs/

data/
tasks/

scripts/*/*.txt
*.idea
*log

*.csv

example/cleanterms/*
